
  .payment-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    color: #fff;
    background: #2c2c3e;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .razorpay-button {
    background: #00bfa5;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    /* transition: background 0.3s ease; */
  }
  
  .razorpay-button:hover {
    background: #00897b;
  }
  